# 🔹 Compilación / Maven
target/
*.class
*.jar
*.war
*.ear

# 🔹 Logs
*.log

# 🔹 Archivos temporales
*.tmp
*.swp
*~

# 🔹 Sistema operativo
.DS_Store
Thumbs.db

# 🔹 IDEs

## NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

## IntelliJ IDEA
.idea/
*.iml

## VS Code
.vscode/

# 🔹 Archivos de configuración sensibles
*.env

# 🔹 Llaves SSH (MUY IMPORTANTE)
*.pem
*.key
*.pub
id_rsa
id_ed25519

# 🔹 Otros
*.bak
9123
